streamlit==1.25.0
psycopg2-binary
elasticsearch==8.9.0
sentence-transformers
requests
tqdm
python-dotenv
openai
groq
--find-links https://download.pytorch.org/whl/cpu/torch_stable.html
torch==2.3.1+cpu
pgcli
